NODE_ENV=development
PORT=5000
JWT_SECRET=ADD_YOUR_JWT_SECRET_HERE
MONGO_URI=mongodb://localhost:27017
RAZORPAY_KEY_ID=ADD_YOUT_RAZORPAY_KEY_ID
RAZORPAY_KEY_SECRET=ADD_YOUR_RAZORPAY_KEY_SECRET
PAGINATION_MAX_LIMIT=12
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=7bc2ebe1f391c6
EMAIL_PASS=d9d93d29c2d67d
EMAIL_FROM=ADD_YOUR_BREVO_LOGIN

MAILTRAP_SMTP_HOST=  sandbox.smtp.mailtrap.io
MAILTRAP_SMTP_PORT= 2525
MAILTRAP_SMTP_USER= 7bc2ebe1f391c6
MAILTRAP_SMTP_PASS= d9d93d29c2d67d